// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.container {
    margin-top: 50px;
}

.card{
    margin-bottom: 20px;
}

.card-title{
    font-weight: bold;
}

.card-details{
    font-size: 12px;
}

p {
    margin-top: 20px;
    margin-bottom: .3rem;
}

.create-route{
    margin-bottom: 30px;
}

.img-show{
    max-height: 400px;
}

.btn{
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    margin-bottom: 10px;
}

.btn-primary{
    margin-left: 20px;
}

ul{
    padding-inline-start:30px;
}
